@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
html, body {
  font-family: "Microsoft YaHei", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #333;
  background-color: #fafafa;
  //height: 100%;
}
//$blue: #4aacee;
a{
  text-decoration:none;
  color:#333;
}
a:focus {
  text-decoration: none;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/**{margin:0px; padding:0px;}
*:focus {outline: none;}

body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0 none;}
body{background-color: transparent;background:#f8f8f8; font-size:14px; font-family:"Lucida Grande", "Lucida Sans Unicode",Tahoma,Helvetica,Arial,Verdana,sans-serif; line-height:24px;color:#191919;-webkit-font-smoothing: antialiased;}

ul,ol{list-style-type:none;}
select,input{vertical-align:middle;font-size: 12px;}

a{text-decoration:none; cursor:pointer;}
a:link,a:visited{color:#191919;text-decoration: none;}
a:hover,a:active,a:focus{text-decoration: none;}*/
.font-blue{
  color:#4aacee ;
}
.font-green{
  color: #92D733;
}
.font-red{
  color:#FF6666
}
dd,dt,dl{
  font-weight: normal;
  margin:0;
}
ul,ol{
  list-style: none;
}


.header-default{
  width: 100%;
  height: 72px;
  background: #fff;
  /*position: fixed;*/
  line-height: 72px;
  text-align: center;
  //font-weight: bold;
  font-size: 24px;
  //top: 0;
  box-shadow: 0 2px 8px 0 rgba(69, 91, 112, 0.18);
}
.container-default {
  padding: 24px;
  color:#333;
  //position: absolute;
  //top: 0;
}
.shiti-left {
  /*width: 60%;*/
  float: left;
  /*margin-bottom: 20px;*/
  padding-right: 15px;
  /*padding: 10px;*/
  /*min-height: 100vh;*/
}

.shiti-left h1 {
  font-size: 1em;
  line-height: 1.2em;
  color: #324d82;
  padding-bottom: 15px;
  font-weight: normal;
  min-height: 20px;
}

.shiti-left-content {
  padding: 24px;
  /*border: 1px solid;*/
  //height: 80vh;
  height:calc(100vh - 120px);
  overflow-y: auto;
  //box-shadow: 0 2px 8px 0 rgba(69, 91, 112, 0.18);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #fff;
  .title-item{
    margin-bottom: 20px;
    .title-default{
      color: #4aacee;
      font-size: 18px;
      display: inline-block;
    }
    .title-score{
      font-size: 16px;
      margin-left: 15px;
    }
  }
  .tigan{
    line-height: 30px;
  }
}

.shiti-right {
  /*width: 38%;*/
  float: right;
  /*padding: 10px;*/
  margin-bottom: 20px;
  .shiti-right-paging{
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    //overflow: hidden;
    li{
      flex: 1;
      background: #fff;
      //box-shadow: 0 2px 8px 0 rgba(69, 91, 112, 0.18);
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      a{
        color: #999;
      }
    }
    li:first-child{
      margin-right: 16px;
    }
    li.disabled{
        background-color: #F2F2F2;
        box-shadow: none;
        color: #CCC;
        cursor: not-allowed;
        opacity: 1;
    }
  }
}

.shiti-right-content,.wenda-right-content {
  padding: 24px;
  /*border: 1px solid;*/
  //height: 70vh;
  height:calc(100vh - 200px);
  overflow-y: auto;
  //box-shadow: 0 2px 8px 0 rgba(69, 91, 112, 0.18);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background: #fff;
  .shiti-right-questions{

  }
}
.shiti-right ul.danxuan li {
  margin: 20px 0 40px 0;
  a {
    padding: 0 5px 0 55px;
    display: block;
    position: relative;
    color: #333;
    span.xuanxiang {
      position: absolute;
      color: #333;
      background-color: #fff;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid #c0c0c0;
      border-radius: 50%;
      //padding-top: 5px;
      top: -5px;
      left: 0;
      //margin-right: 16px;
    }
  }
}
.shiti-right ul.duoxuan li {
  margin: 20px 0 40px 0;
  a {
    padding: 0 5px 0 55px;
    display: block;
    position: relative;
    color: #333;
    span.xuanxiang {
      position: absolute;
      color: #333;
      background-color: #fff;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid #c0c0c0;
      border-radius: 5px;
      //padding-top: 5px;
      top: -5px;
      left: 0;
      //margin-right: 16px;
    }
  }
}
.shiti-right ul.danxuan li.crumb a span.xuanxiang {
  color: #fff;
  background-color: #4bacf0;
  border: 1px solid #4bacf0;
}
.shiti-right ul.duoxuan li.crumb a span.xuanxiang {
  color: #fff;
  background-color: #4bacf0;
  border: 1px solid #4bacf0;
}
.wenda-left-content{
  padding: 0;
  .wenda-analysis-left{
    border-top: 1px solid #f2f2f2;
  }
  .wenda-question-left{
    padding: 24px;
  }
  .wenda-answer-left{
    padding: 24px 24px 0 24px;
  }
}
.wenda-right-content{
  //height:80vh;
  height:calc(100vh - 120px);
}
.shiti-right ul.danxuan li.answer-error a span.xuanxiang{
  width: 40px;
  height: 40px;
  background:#FF6666;
  border: 1px solid #FF6666;
  color: #fff;
}
.shiti-right ul.danxuan li.answer-right a span.xuanxiang{
  width: 40px;
  height: 40px;
  background: #92d733;
  border: 1px solid #92d733;
  color: #fff;
}
.shiti-right ul.duoxuan li.answer-error a span.xuanxiang{
  width: 40px;
  height: 40px;
  background:#FF6666;
  border: 1px solid #FF6666;
  color: #fff;
}
.shiti-right ul.duoxuan li.answer-right a span.xuanxiang{
  width: 40px;
  height: 40px;
  background: #92d733;
  border: 1px solid #92d733;
  color: #fff;
}
/*答题卡*/
.answer-card{
  //box-shadow: 0 2px 8px 0 rgba(69, 91, 112, 0.18);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  height: calc(100vh - 120px);
  background: #fff;
  position: relative;
  .answer-card-option{
   height:calc(100vh - 230px);
    overflow: auto;
    .answer-card-ul{
      padding: 32px;
      display: flex;
      justify-content: space-between;
      .answer-card-li{
        span{
          display: inline-block;
          //position: absolute;
          color: #fff;
          background-color: #4aacee;
          width: 56px;
          height: 56px;
          line-height: 56px;
          text-align: center;
          border-radius: 50%;
          top: -5px;
          left: 0;
        }
      }
    }
  }

  .save-paper-btn{
    a{
      width: 37.5%;
      height: 60px;
      display: block;
      line-height: 60px;
      text-align: center;
      position: absolute;
      bottom:40px;
      left: 50%;
      //margin-left: -240px;
      transform: translate(-50%, 0);
      background: #4aacee;
      color: #fff;
      font-size: 24px;
    }
    a:focus,a:active{
      opacity: .8;
    }
  }
}


